@model IEnumerable<Shop_v2.Models.Producer>

@{
    ViewBag.Title = "Поставщики";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<fieldset>

    <h1>Каталог производителей</h1>
    <p>
        @Html.ActionLink("Добавить нового производителя", "CreateProducer", "Admin")
    </p>
    <p>
        @Html.ActionLink("Назад в настройки", "Index", "Admin")
    </p>
    <div>
        <table cellspacing="0" border="1">
            <tr>

                <th>Наименование</th>
                <th>Описание</th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.ActionLink("Детальнее", "DetailsProducer", new { id = item.Id })|
                        @Html.ActionLink("Редактировать", "EditProducer", new { id = item.Id }) |
                        @Html.ActionLink("Удалить", "DeleteProducer", new { id = item.Id })|
                    </td>
                </tr>
            }
        </table>
</fieldset>