
@model  Shop_v2.Models.Product

@{
    ViewBag.Title = "Удалить товар";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 
        <h1>Удаление товара</h1>

        <fieldset>
            <h2> Вы уверены в удаление: @Model.Name </h2>

            @Html.HiddenFor(m => m.Id)
            <p>
                <b>
                @Html.LabelFor(m => m.Name)
                    </b>
                <br />
                @Html.DisplayFor(m => m.Name)
            </p>
            <p>
                <b>
                    @Html.LabelFor(m => m.CategoryId)
                </b>
                <br />
                @Html.DisplayFor(m => m.Category.CategoryName)

            </p>
            <p>
                <b>
                    @Html.LabelFor(m => m.ImagePath)
                </b>
                <br />

                <img src="@Url.Content(Model.ImagePath)" width="120" height="120" multiple />
            </p>
            <p>
                <b>
                    @Html.LabelFor(m => m.Characteristic)
                </b>
                <br />
                @Html.DisplayFor(m => m.Characteristic)
            </p>
            <p>
                <b>
                    @Html.LabelFor(m => m.Description)
                </b>
                <br />
                @Html.DisplayFor(m => m.Description)
            </p>
            <p>
                @Html.LabelFor(m => m.ProducerId)
                <br />
                @Html.DisplayFor(m => m.Producer.Name)

            </p>
            <p>
                @Html.LabelFor(m => m.Quantity)
                <br />
                @Html.DisplayFor(m => m.Quantity)
            </p>
            <p>
                @Html.LabelFor(m => m.Price)
                <br />
                @Html.DisplayFor(m => m.Price)
            </p>
            <p>
                @Html.ActionLink("Назад к настройкам сайта", "Index", "Admin")
            </p>



            @using (Html.BeginForm("DeleteProduct", "Admin", FormMethod.Post))
            {
                <input type="submit" value="Удалить"   />

            }
        </fieldset>
    